---
import AstroIcon from "./icons/AstroIcon.astro";
import NextJSIcon from "./icons/NextJSIcon.astro";
import OptimizelyIcon from "./icons/OptimizelyIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-[#1A1D1A] text-white",
        icon: NextJSIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#1A1D1A] text-white",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#1A1D1A] text-white",
        icon: TailwindIcon,
    },
    OPTIMIZELY: {
        name: "Optimizely",
        class: "bg-[#1A1D1A] text-white",
        icon: OptimizelyIcon,
    },
};

const PROJECTS = [
    {
        title: "ToDo App - Task Management",
        description:
            "A responsive and efficient ToDo application built using Next.js, Astro, and Tailwind CSS. The app allows users to create, manage, and track tasks with a clean UI and seamless user experience.",
        link: "https://todoappbymxrcabrera.netlify.app/",
        github: "https://github.com/mxrcabrera/todoapp",
        image: "/projects/todoapp-image.jpg",
        tags: [TAGS.NEXT, TAGS.ASTRO, TAGS.TAILWIND],
    },
    {
        title: "Optimizely Mini Project",
        description:
            "A mini project showcasing my skills with Optimizely, including feature flags, A/B testing, responsive content personalization, and event tracking using React hooks.",
        link: "https://techstorebymxrcabrera.netlify.app/",
        github: "https://github.com/mxrcabrera/techstore",
        image: "/projects/techstore-image.jpg",
        tags: [TAGS.NEXT, TAGS.OPTIMIZELY],
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link }) => (
            <article>
                <h3 class="text-xl font-semibold text-violet-2000 mb-2">
                    <a href={link} target="_blank" rel="noopener" class="hover:underline">
                        {title}
                    </a>
                </h3>
                <p class="text-lg mb-4 text-pretty">{description}</p>
                <ul class="flex gap-x-2 flex-row mb-4">
                    {tags.map((tag) => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                <tag.icon class="size-4" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <a 
                    href={link}
                    target="_blank"
                    rel="noopener"
                    class="group relative block transition"
                >
                    <img
                        loading="lazy"
                        class="rounded shadow-2xl shadow-white/10 transition group-hover:scale-[1.02] group-hover:shadow-white/20"
                        src={image}
                        alt={`Screenshot of ${title}`}
                    />
                    <div class="absolute inset-0 rounded bg-black/50 opacity-0 transition-opacity group-hover:opacity-100 flex items-center justify-center">
                        <span class="text-white text-lg font-semibold">Visit Project →</span>
                    </div>
                </a>
            </article>
        ))
    }
</div>